.form{
  display: flex;
  flex-direction: column;
  min-height: 600px;
  margin: 4rem 0;
  color: var(--black-700);

  h1{
    margin-bottom: 2rem;
    font-size: 32px;
    color: var(--black-700);

  }
}

.contentForm{
  display: flex;
  height: 500px;
}

.errorMessage{
  font-size: 14px;
  color: red;
}

.containerPhoto{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-200);
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 0.5rem;

  h6{
    font-size: 16px;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--black-700);
    line-height: 20px;
  }

  .contentUpload{
    text-align: center;
    margin-top: 1rem;

    p{
      font-size: 15px;
      margin-top: 0.5rem;
      font-weight: 400;
      font-style: normal;
      color: var(--gray-300)
    }
  }
}
.contentInputs{
  flex: 4;
  margin-top: 2rem;
  padding: 0 1rem;

}

.labelForm{
  color: var(--black-700);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin:80px 0;
}
.formController{
  width: 49%;
}
.inputGroup{
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-between;
}

.buttonsSubmit{
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;

  button{
    width: 150px;
    height: 46px;
    border-radius: 1rem;
    margin: 0 6px;
    border: 0;
    background-color: var(--black-700);
    color: white;
  }
}

.contentTitle{
  margin: 2rem 0;
  max-width: 339px;
  padding-bottom: 0.5rem;
  border-bottom: 6px solid var(--black-700);
}

.title{
  color: red;
  font-weight: 700;
  font-size: 36px;
  color: var(--black-700);
}

.contentPets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cardPet{
  width: 279px;
  height: 340px;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}
.titleCardPet{
  color: #111;
  font-size: 18px;
  font-weight: 700;
}

.descriptionPetCard{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--gray-300);
}


.petImageProfile{
  border-radius: 10px;
}
