.form{
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  color: var(--black-700);

  

  h1{
    margin-bottom: 2rem;
    font-size: 36px;
    color: var(--black-700);

  }
}

.labelForm{
  color: var(--black-700);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin:80px 0;
}
.formController{
  width: 49%;
}
.inputGroup{
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-between;
}

.buttonsSubmit{
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;

  button{
    width: 150px;
    height: 46px;
    border-radius: 1rem;
    margin: 0 6px;
    border: 0;
    background-color: var(--black-700);
    color: white
    
  }
}
